.centralPost {
  flex: 0.6;
  margin: 0 20px;
}

.Central-input-container {
  background-color: white;
  padding: 10px;
  padding-bottom: 20x;
  border-radius: 10px;
  margin-bottom: 20px;
}

.Central-input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: grey;
  padding-left: 15px;
}

.Central-input > form {
  display: flex;
  width: 100%;
}

.Central-input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.Central-input > form > button {
  display: none;
}

.Central-inputOptions {
  display: flex;
  justify-content: space-evenly;
}

.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
  margin-left: 5px;
}

.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post-header {
  display: flex;
  margin-bottom: 10px;
}

.post-info {
  margin-left: 10px;
}

.post-info > p {
  font-size: 12px;
  color: gray;
}

.post-body {
  overflow-wrap: anywhere;
}

.post-info > h2 {
  font-size: 15px;
}

.post-buttons {
  display: flex;
  justify-content: space-evenly;
}
