#Central-Main-Component {
  max-width: 70vw;
  max-height: 70vh;
}

.Central-container {
  max-width: 800px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.288);
}

#Central-firstDiv {
  position: relative;
}

#Central-img1 {
  object-fit: cover;
  width: 800px;
  height: 250px;
  border-radius: 8px 8px 0 0;
}

#Central-avatar {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  top: 100px;
  left: 60px;
}

.Central-Strive-img {
  width: 40px;
  height: 40px;
}

#Central-pencil1 {
  width: 40px;
  height: 40px;
  background-color: white;
  color: #0a66c2;
  position: absolute;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid white;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

#Central-First > .h3 {
  margin-top: 4rem;
}

.Central-p1 {
  font-size: 15px;
  text-overflow: ellipsis;
}

.Central-pencil2 {
  width: 40px;
  height: 40px;
  color: black;
  padding: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}

.Central-pencil2:hover {
  border: 1px solid rgba(128, 128, 128, 0.288);
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 50px;
  transition: ease-out, 300ms;
}

#Central-buttons-container {
  display: flex;
}

.Central-btn-blue {
  color: white;
  background-color: #0a66c2;
  border-radius: 99px;
  padding: 2px 10px;
}

.Central-btn-blue:hover {
  background-color: #0d4c8b;
  transition: ease-out, 200ms;
}

.Central-btn-grey {
  border-radius: 99px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.514);
}

.Central-btn-round {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.514);
}

.Central-btn-grey:hover,
.Central-btn-round:hover {
  border: 1px solid rgb(0, 0, 0);
  transition: ease-out, 200ms;
}

.Central-cross {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 4px;
}

.Border-blue {
  border-top: 5px solid #0d4c8b;
}

.Central-Common-border {
  max-width: fill;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.288);
  padding: 10px 2rem;
  background-color: white;
}

.Central-Numbers {
  color: #0d4c8b;
  font-weight: 350;
}

.Central-left-border {
  cursor: pointer;
  border-left: 1px solid rgba(128, 128, 128, 0.288);
}

.Central-BgColor-Grey {
  background-color: #dce6f1;
}

.Central-random-post-img {
  width: 70px;
  height: 80px;
}

.cursor-pointer {
  cursor: pointer;
}

.Central-decoration-none {
  color: black;
}

.Central-Plus-Icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px;
}

.Central-Plus-Icon:hover,
.Central-cross:hover {
  border: 1px solid rgba(128, 128, 128, 0.288);
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 50%;
  transition: ease-out, 300ms;
}

.Central-Shadow-Squared {
  border: 1px solid transparent;
  width: 200px;
  cursor: pointer;
}

.Central-Shadow-Squared:hover {
  border: 1px solid rgba(128, 128, 128, 0.288);
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 8px;
  transition: ease-out, 100ms;
}

body {
  background-color: rgb(243, 242, 239);
}

.language-bar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: white;
  border-radius: 8px;
  width: min-content;
}

.lng-btn {
  border: rgb(102, 102, 102) solid 1px;
  color: rgb(102, 102, 102);
  background-color: transparent;
  height: 33px;
  font-weight: 600;
  margin: 15px 7px;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 25px;
}

#lng-btn:hover {
  background-color: #f1f1f1;
}

.lng-btn-spa {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
}

.ad-wrap {
  border-radius: 8px;
  width: 323px;
  overflow: hidden;
}

.ad-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img-sm-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img-sm {
  height: 50px;
  width: 50px;
}

.profile-img-md-wrap {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px white;
}

.profile-img-md {
  height: 65px;
  width: 65px;
}

.single-profile-wrap {
  display: flex;
  border-radius: 8px;
  width: 323px;
}

.profile-title {
  font-weight: 700;
  font-size: 15px;
}

.profile-degree {
  font-size: 15px;
  color: rgb(102, 102, 102);
}

.profile-bio {
  color: rgb(102, 102, 102);
  font-size: 14px;
}

.small-grey-txt {
  color: rgb(102, 102, 102);
  font-size: 12px;
}

.people-also-wrap {
  border-radius: 8px;
  width: 323px;
  height: fit-content;
  background-color: white;
}

.pro-btn {
  border: rgb(102, 102, 102) solid 1px;
  color: rgb(102, 102, 102);
  background-color: transparent;
  height: 33px;
  font-weight: 600;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 25px;
}

.see-more {
  color: rgb(102, 102, 102);
  background-color: transparent;
  height: 33px;
  font-size: 17px;
  text-align: center;
}

.see-more-courses {
  color: rgb(10, 102, 194);
  background-color: transparent;
  height: 33px;
  font-size: 17px;
  text-align: center;
}

.courses-wrap {
  border-radius: 8px;
  width: 323px;
  background-color: white;
}

.logo-img {
  height: 20px;
}

.learning {
  font-size: 12px;
}

.thumbnail {
    height: 60px;
}

.videos-title {
    font-size: 13px;
    font-weight: 700;
}

.card-wrap {
  border-radius: 8px;
  width: 230px;
  background-color: white;
}

#rightCol_Home {
  border: 0.5px rgb(228, 224, 224) solid;
  border-radius: 10px;
  width: 28rem;
  background-color: white;
}

.innerDiv{
  display:flex;
  justify-content:space-between;
  margin:auto;
}

.below{
  display: flex;
  flex-direction:column;

}

.below_innerDiv{
  display:inline-block;

}

.right_footer{
  display:flex;
  flex-direction: column;
  width:444px;
  margin-top:20px;
  font-size:12px;
  line-height: 16px;
  font-weight: 400;
   padding-left: 51%;
padding-right: 51%;
}


.inner_footer{
  display:flex;
  justify-content: space-between;
 }

.inner_footer > a{
  color: rgb(145, 140, 140);
  
}
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
